<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<link>
<meta charset="UTF-8">
<title>User creation screen</title>
<link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap.css"/>
<script src="../javascript/vendor/jquery-3.2.1.js"></script>
<script src="../javascript/app/userCreationJS.js"></script>
<script src="../javascript/vendor/bootstrap.js"></script>
<script src="../javascript/vendor/loadash.js"></script>
<link rel="stylesheet" type="text/css" href="../css/app/forms.css">
</head>
<body>
<div class="jumbotron">
    <div align="center">
        <h1>HandyMan - v0.1</h1>
        <p>&nbsp;Making onDemand Service app digital</p>
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">HandyMan&copy;</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="#">Add User</a></li>
            <li><a href="#">Add Vendor</a></li>
            <li><a href="#">Order</a></li>
            <li><a href="#">Search & Edit</a></li>
        </ul>
    </div>


</nav>

<div class="container" id="serverresponse" style="display: none">
    <h1>Sample server response</h1>
</div>

<div class="container" id="userform">
    <form class="form-horizontal" id="user_creation_form">
        <div class="panel panel-primary">
            <div class="panel-heading">
                User Info
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name"
                               pattern="[a-zA-Z]{*}" title="First name should only contain alphabets"
                               required value="Tushar">
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" id="middleName" placeholder="Enter Middle Name"
                               pattern="[a-zA-Z]{*}" title="Middle  name should only contain alphabets">
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                               pattern="[a-zA-Z]{*}" title="Last name should only contain alphabets"
                               required value="Bisht">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="primaryMobile"
                               placeholder="Enter Primary Mobile Number" pattern="[0-9]{10}"
                               title="Primary mobile number can only have digits with length uptil 10" required value="8971030030">
                    </div>

                    <div class="col-md-3">
                        <input type="text" class="form-control" id="secondaryMobile"
                               placeholder="Enter Secondary Mobile Number" pattern="[0-9]{10}"
                               title="Secondary  mobile number can only have digits with length uptil 10">
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-5">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" required
                               title="Email id should be of valid format" value="tushar.bisht1-@gmail.com">
                    </div>
                    <span id="emailExists" class="alert-danger" style="display: none"> <img
                            src="../images/form_false.png"
                            class="form_err_img"> Oops!! email already exists in the record</span>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                User Security
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" required
                               pattern="^.{6,}" title="Password must be minimum of 6 characters" value="unixlover">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <input type="password" class="form-control" id="pwd_confirm" placeholder="Confirm password"
                               onfocusout="checkPasswordMatch()" value="unixlover">
                    </div>
                </div>


            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Address
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="addressLine1" placeholder="Address Line 1" required value="addr line 1">
                    </div>

                    <div class="col-md-5">
                        <input type="text" class="form-control" id="addressLine2" placeholder="Address Line 2" required value="addr line 2">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="landmark" placeholder="Landmark" value="ladmark 1">
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <select class="form-control" id="state" required>
                            <option>Select State</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <select class="form-control" id="city">
                            <option>Select City</option>
                        </select>
                    </div>

                    <div style="display: none" class="col-sm-4" id="usercityinfo">
                        <h6 class="font-weight-light text-info">Hello ! we are currently not operational in any of the
                            cities in your state, but thanks for registering, we' ll alert you as soon as we start
                            operation around you</h6>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="pincode" placeholder="Pin Code" pattern="[0-9]{6}"
                               title="Pin code should be 6 digit long, with only numbers" value="226025">
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group" align="center">
            <button type="button" class="btn btn-primary" id="formSubmit">Submit</button>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        populateStateDropDown();
        addListeners();
    });

    $("#state").change(function () {
        populateOperationCityDropDown();
    });

    $("#formSubmit").click(function(){           
            submitUserCreationForm();
    });

    /*$("form").submit(function () {
        if (formValidates()) {
            submitUserCreationForm();
        } else {
            return false;
        }
    });*/


</script>

</body>
</html>
